{% extends 'base.html' %}
{% load static %}



{% block content %}

<section>

    <div class="row fixed-top " style="top: 7rem; margin-left: 18rem;" >

        <div class="col-md-10">

          <div style="height: 645px;width: 1215px;overflow-y: scroll;"> 
            <div class="row">
                <div class="col-12">
                    <h3 class="align-text-top" style="font-size: 35px;" >New Retainer Invoice</h3>
                </div>
            </div><br><br>
            <div class="row">
                <div class="col-7">



                    <form  action="{% url 'create_invoice' %}" method="post">
                      {% csrf_token %}
                      <div class="row mb-3">
                        <label  class="col-sm-4 col-form-label">Customer Name*</label>
                        
                        <div class="col-sm-8">
                          
                          <select class="form-control form-select" name="select" onchange="if (this.value === 'new') window.location.href = '/add_customer/';">
                            
                            
                            <option value="">Select  Customer</option>
                            {% for i in customer %}
                            <option value="{{i.id}}">{{i.customer_name}}</option>
                            {% endfor %}         
                            <option value="new" style="color: blue;">+ New Customer</option>
                            
                            
                          </select>
                          

                        </div>
                        
                      </div><br>
                      <div class="row mb-3">
                        <label  class="col-sm-4 col-form-label">Retainer Invoice Number*</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" name="retainer-invoice-number" id="invoice-number">
                        </div>
                      </div><br>
                      <div class="row mb-3">
                          <label  class="col-sm-4 col-form-label">Reference</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" name="references">
                          </div>
                        </div><br>
                        <div class="row mb-3">
                          <label  class="col-sm-4 col-form-label">Retainer Invoice Date*</label>
                          <div class="col-sm-6">
                            <input type="date" class="form-control" name="invoicedate" id="dateField">
                          </div>
                        </div><br>

                        <div class="row">
                          <div class="col-10 ">

                            <table class="order-list">
                              <thead>
                                <tr>
                                  <th class="text-white">Description</th>
                                  <th class="text-white">Amount</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td><input type="text"  style="width: 340px;" name="description0"/></td>
                                  <td><input type="number" name="amount0" min="0"/></td>
                                  <td></td>
                                </tr>
                              </tbody>
                            </table>
                            <a id="addrow" href="#">Add another line</a>
                            <br/><br/>
                            <div class="text-white">Total: ₹<span id="total">0.00</span></div>
                            <input type="hidden" id="hidden-total-amount" name="total-amount" value="">
                            <br/><br/>
                            

                          </div>
                          <div class="col-2"></div>

                        </div><br><br>

                        <div class="mb-3">
                          <label for="formGroupExampleInput" class="form-label">Customer Notes</label>
                          <div class="form-floating">
                            <textarea class="form-control col-8" name="customer_notes" placeholder="Enter any notes to be displayed in your transaction" id="floatingTextarea"></textarea>
                          
                          </div>
                        </div><br><br>


                        <div class="mb-3">
                          <label for="formGroupExampleInput" class="form-label">Terms and Conditions</label>
                          <div class="form-floating">
                            <textarea class="form-control col-12" name="terms" placeholder="Enter the terms and conditions of your business to be displayed in your transactions " id="floatingTextarea"></textarea>
                            
                          </div>
                        </div><br><br>

                        
                          <!-- <button class="btn btn-primary" type="button" name="action" value="draft">Save as Draft</button> -->
                          <input type="submit" value="save">
                          <button class="btn btn-primary" type="button" onclick="cancel()" value="cancel">Cancel</button><br><br>
                        

                        


                          


                    </form>

                </div>
                <div class="col-5"></div>
            </div>
          </div> 
        
        

        </div>

    </div>

</section>

<script>
  document.getElementById('dateField').valueAsDate = new Date();
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    var counter = 1;
    var totalAmount = 0;
    $("#addrow").on("click", function() {
      var newRow = $("<tr>");
      var cols = "";
      cols += '<td><input type="text"  style="width: 340px;" name="description' + counter + '"/></td>';
      cols += '<td><input type="number" name="amount' + counter + '" min="0"/></td>';
      cols += '<td><a class="deleteRow" style="color:red;">-X-</a></td>';
      newRow.append(cols);
      $("table.order-list").append(newRow);
      counter++;
    });
    
    $("table.order-list").on("change", "input[name^='amount']", function(event) {
      updateTotal();
    });
    
    $("table.order-list").on("click", "a.deleteRow", function(event) {
      $(this).closest("tr").remove();
      updateTotal();
    });
    
    function updateTotal() {
      var total = 0;
      $("table.order-list").find("input[name^='amount']").each(function() {
        total += parseInt($(this).val()) || 0;
      });
      totalAmount = total;
      $("#total").html(totalAmount.toFixed(2));
    }
  });
</script>
<!-- <script>
  // Get the current invoice number from the server (e.g. using an AJAX request)
  let currentInvoiceNumber = 1;

  // Set the initial value of the invoice number field
  document.getElementById('invoice-number').value = 'RET-' + currentInvoiceNumber.toString().padStart(5, '0');

  // Increment the invoice number after each submission
  document.querySelector('form').addEventListener('submit', (event) => {
    event.preventDefault();
    currentInvoiceNumber++;
    document.getElementById('invoice-number').value = 'RET-' + currentInvoiceNumber.toString().padStart(5, '0');
    // Submit the form to the server here
  });
</script> -->
<script>
  function cancel() {
    window.location.href = "{% url 'base' %}";
  }
</script>
<script>
  const totalAmount = document.getElementById("total").textContent;
  document.getElementById("hidden-total-amount").value = totalAmount;
</script>







{% endblock %}