{% extends 'base.html' %}
{% load static %}



{% block content %}

<section>

    <div class="row fixed-top " style="top: 7rem; margin-left: 18rem;" >

        <div class="col-md-10">

          <div style="height: 640px;width: 1215px;overflow-y: scroll;"> 
            <div class="row">
                <div class="col-12">
                    <h3 class="align-text-top" style="font-size: 35px;" >New Retainer Invoice</h3>
                </div>
            </div><br><br>
            <div class="row">
                <div class="col-7">



                    <form method="post" action="{% url 'add_invoice' %}">
                      {% csrf_token %}
                        <div class="row mb-3">
                          <label  class="col-sm-4 col-form-label">Customer Name*</label>
                          
                          <div class="col-sm-8">
                            
                            <select class="form-control" name="select" onchange="if (this.value === 'new') window.location.href = '/add_customer/';">
                              
                              
                              <option value="">Select  Customer</option>
                              {% for i in customer %}
                              <option value="{{i.id}}">{{i.customer_name}}</option>
                              {% endfor %}         
                              <option value="new" style="color: blue;">+ New Customer</option>
                              
                              
                            </select>
                            

                          </div>
                          
                        </div><br>
                        <div class="row mb-3">
                          <label  class="col-sm-4 col-form-label">Retainer Invoice Number*</label>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" name="retainer-invoice-number" id="invoice-number">
                          </div>
                        </div><br>
                        <div class="row mb-3">
                            <label  class="col-sm-4 col-form-label">Reference</label>
                            <div class="col-sm-6">
                              <input type="text" class="form-control" name="reference">
                            </div>
                          </div><br>
                          <div class="row mb-3">
                            <label  class="col-sm-4 col-form-label">Retainer Invoice Date*</label>
                            <div class="col-sm-6">
                              <input type="date" class="form-control" name="invoicedate" id="dateField">
                            </div>
                          </div><br>

                          <div class="row">
                            <div class="col-10 ">

                              <table class="table-borderless align-top">
                                <thead>
                                  <tr>
                                    <th class="text-white align-middle">Description</th>
                                    <th class="text-white align-middle">Amount</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody id="lines">
                                  <tr id="line1">
                                    <td><input style="width: 340px;" type="text" name="description1" placeholder="Enter description"></td>
					                          <td><input type="number" name="amount1" placeholder="Enter amount" onchange="updateTotal()"></td>
                                    <td></td>
                                  </tr>
                                </tbody>
                                <tfoot>
                                  <tr><br>
                                    <td colspan="2"><a href="#" id="add-line"><i class="fa-solid fa-plus "></i> Add another line</a></td>
                                    <td class="text-white">Total: <span id="total">0.00</span></td>
                                    
                                  </tr>
                                </tfoot>
                              </table>
                              

                            </div>
                            <div class="col-2"></div>

                          </div><br><br>

                          <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Customer Notes</label>
                            <div class="form-floating">
                              <textarea class="form-control col-8" name="customer_notes" placeholder="Enter any notes to be displayed in your transaction" id="floatingTextarea"></textarea>
                            
                            </div>
                          </div><br><br>


                          <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Terms and Conditions</label>
                            <div class="form-floating">
                              <textarea class="form-control col-12" name="terms" placeholder="Enter the terms and conditions of your business to be displayed in your transactions " id="floatingTextarea"></textarea>
                              
                            </div>
                          </div><br><br>

                          <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-primary" type="button" name="action" value="save_draft">Save as Draft</button>
                            <button class="btn btn-primary" type="button" name="action" value="save_sent">Save and Send</button>
                            <button class="btn btn-primary" type="button" name="action" value="cancel">Cancel</button>
                          </div><br>


                          


                      </form>

                </div>
                <div class="col-5"></div>
            </div>
          </div> 
        
        

        </div>

    </div>

</section>

<script>
  document.getElementById('dateField').valueAsDate = new Date();
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
  $(document).ready(function() {
    var line = 1;
    
    $('#add-line').click(function() {
      line++;
      var html = '<tr id="line'+line+'">';
      html += '<td><input style="width: 340px;" type="text" name="description'+line+'" placeholder="Enter description"></td>';
      html += '<td><input type="number" name="amount'+line+'" placeholder="Enter amount" onchange="updateTotal()"></td>';
      html += '<td><a href="#" onclick="deleteLine('+line+')" style="color:red">-X-</a></td>';
      html += '</tr>';
      $('#lines').append(html);
    });
    
    window.updateTotal = function() {
      var total = 0;
      $('input[name^="amount"]').each(function() {
        total += parseFloat($(this).val());
      });
      $('#total').text(total.toFixed(2));
    }
    
    window.deleteLine = function(line) {
      $('#line'+line).remove();
      updateTotal();
    }
  });
</script>
<script>
  // Get the current invoice number from the server (e.g. using an AJAX request)
  let currentInvoiceNumber = 1;

  // Set the initial value of the invoice number field
  document.getElementById('invoice-number').value = 'RET-' + currentInvoiceNumber.toString().padStart(5, '0');

  // Increment the invoice number after each submission
  document.querySelector('form').addEventListener('submit', (event) => {
    event.preventDefault();
    currentInvoiceNumber++;
    document.getElementById('invoice-number').value = 'RET-' + currentInvoiceNumber.toString().padStart(5, '0');
    // Submit the form to the server here
  });
</script>







{% endblock %}



